<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SmartMirror</title>
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" />
    </head>
    <body>
        {% include 'navbar.html' %} {% if messages %}
        <ul class="messages">
            {% for message in messages %} {% if message.tags == 'error' %}
            <li><p class="text-danger">{{ message }}</p></li>
            {% elif message.tags == 'success' %}
            <li><p class="text-success">{{ message }}</p></li>
            {% else %}
            <li><p>{{ message }}</p></li>
            {% endif %} {% endfor %}
        </ul>
        {% endif %} {% block content %} {% endblock %}
    </body>
</html>
