{% extends 'main.html' %} {% block content %}
<style>
    .about-container {
        height: 140vh;
        margin-inline: 10vw;
        margin-block: 4vh;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">About</li>
</ol>

<h2 style="text-align: center">About</h2>

<div class="about-container">
    <div class="card border-primary mb-3" style="max-width: 150rem">
        <div class="card-header"><h3 style="margin-block: 0">Goal</h3></div>
        <div class="card-body">
            <p class="card-text">
                Our project aims to infuse a normal mirror with technology like real time updates such as news, weather, and
                calendar events. These are the fundamental functionalities we want to achieve to call it a smart mirror, marking
                our baseline. To cross the limit of conventional functionalities available in the market, we plan to develop a
                website for the user to personalize their experience as well as introduce a face recognition system. The vision
                will be achieved by programming GUIs (Graphical User Interface) with the help of python’s tkinter library, website
                with CSS and HTML and managing our databases on our server. Project’s core will include Raspberry Pi 4 to power
                our system, and PCB which to connect sound systems, Raspberry PI and lights. Encased in a sleek wooden frame, the
                user will have a streamlines experience with only the mirror and website curated by the developers. This approach
                aims to heighten user experience by giving a minimalistic view while reducing their risks of injury.
            </p>
        </div>
        <hr />
        <div class="card-header"><h3 style="margin-block: 0">Developers</h3></div>
        <div class="card-body">
            <!-- Chanpitou Section -->
            <h5 class="card-text"><strong>Chanpitou Um</strong> - Computer Engineering</h5>
            <p class="card-text">
                Chanpitou specializes in <strong>web development</strong>, <strong>database management</strong>, and
                <strong>server administration</strong>. Responsibilities include crafting the architecture of the web platform,
                ensuring seamless database interaction, and maintaining robust server infrastructure. This ensures the smooth
                functioning of the project's technical components.
            </p>
            <hr />

            <!-- Sam section -->
            <h5 class="card-text"><strong>Samarth Shah</strong> - Computer Engineering</h5>
            <p class="card-text">
                Samarth brings a wealth of experience to the team, focusing on enhancing user experience through intuitive
                <strong>GUI design</strong>. Additionally, Sam excels in <strong>project management</strong>, ensuring timely
                completion of tasks and milestones. Sam's expertise also extends to <strong>inventory management</strong>,
                optimizing resource utilization throughout the project lifecycle.
            </p>

            <hr />
            <!-- Sumaya section -->
            <h5 class="card-text"><strong>Sumaya Khan</strong> - Electrical Engineering</h5>
            <p class="card-text">
                Sumaya plays a pivotal role in <strong>hardware development</strong>, specializing in
                <strong>PCB design</strong> and implementation. With meticulous attention to detail, Samaya ensures the seamless
                integration of electronic components, optimizing functionality and performance.
            </p>
        </div>
        <hr />
        <div class="card-header"><h3 style="margin-block: 0">Contacts</h3></div>
        <div class="card-body">
            <p class="card-text">
                We would love to hear from you! Feel free to reach out to us using the contact information below:
            </p>
            <p class="card-text"><strong>Email: </strong>umchanpitou@gmail.com, sam@gmail.com, sumaya@gmail.com</p>
            <p class="card-text"><strong>Phone: </strong>(612)-756-6130, ..., ...</p>
            <p class="card-text"><strong>Address: </strong>228 Wiecking Ctr, Mankato, MN 56001</p>
        </div>
    </div>
</div>
{% endblock content %}
