{% extends 'main.html' %} {% block content %}
<style>
    .about-container {
        height: 100vh;
        margin-inline: 10vw;
        margin-block: 4vh;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">About</li>
</ol>

<h1 style="text-align: center">About</h1>

<div class="about-container">
    <div class="card border-primary mb-3" style="max-width: 150rem">
        <div class="card-header"><h3 style="margin-block: 0">Goal</h3></div>
        <div class="card-body">
            <p class="card-text">Something</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
        </div>
        <hr />
        <div class="card-header"><h3 style="margin-block: 0">Developer</h3></div>
        <div class="card-body">
            <p class="card-text">Something</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
        </div>
        <hr />
        <div class="card-header"><h3 style="margin-block: 0">Others</h3></div>
        <div class="card-body">
            <p class="card-text">Something</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
            <p class="card-text">....</p>
        </div>
    </div>
</div>
{% endblock content %}
