{% extends 'main.html' %} {% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">
        <a href="{{request.META.HTTP_REFERER}}">Events</a>
    </li>
    <li class="breadcrumb-item active">Delete Event</li>
</ol>
<br />
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <p class="text-danger-emphasis">
            Are you certain you would like to delete "{{obj}}" ?
        </p>
        <a href="{{request.META.HTTP_REFERER}}">
            <button type="button" class="btn btn-outline-secondary">
                Cancel
            </button>
        </a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</div>

{% endblock content %}
