{% extends 'main.html' %} {% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Events</li>
</ol>

<style>
    .task-container {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }
</style>
<div>
    <div>
        <h1 style="text-align: center">Events</h1>
        <div style="display: inline-block; margin-left: 10vw">
            <a style="display: inline-block" href="{% url 'create-event' %}">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa-solid fa-plus"></i>
                    Create Event
                </button>
            </a>
        </div>

        <p></p>
        {% if not events %}
        <div class="card border-primary mb-3" style="max-width: 150rem; margin-inline: 10vw">
            <div style="height: 20vh; display: grid; place-items: center" class="card-body">
                <h4 class="card-title">No upcoming events!</h4>
            </div>
        </div>
        {% else %} {% for event in events %}
        <div class="card border-secondary mb-3" style="max-width: 200rem; margin-left: 200px; margin-right: 200px">
            <div class="card-header">
                <div>
                    <a href="{% url 'update-event' event.id%}">
                        <i class="fa-regular fa-pen-to-square" style="margin-right: 10px"></i>
                    </a>
                    <a href="{% url 'duplicate-event' event.id%}">
                        <i class="fa-regular fa-copy" style="margin-right: 10px"></i>
                    </a>
                    <a href="{% url 'delete-event' event.id%}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
            <div class="card-body" style="display: grid; grid-template-columns: 1fr 4fr">
                <div>
                    <h4 class="card-title">{{ event.topic }}</h4>
                    <h6>{{ event.event_date|date }}</h6>

                    {% if event.start_time != None or event.end_time != None %}
                    <h6>{{ event.start_time }} - {{ event.end_time }}</h6>

                    {% else %}
                    <h6>All Day</h6>
                    {% endif %} {% if event.location != None %}
                    <h6>{{ event.location }}</h6>
                    {% endif %}
                </div>
                <div>{{event.description}}</div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>

{% endblock content %}
