{% extends 'main.html' %} {% block content %}
<div>
    <h3>Update News source/topic</h3>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="exampleSelect1" class="form-label mt-4">News Source</label>
        <select
            class="form-select"
            id="exampleSelect1"
            name="news_source"
            style="width: 300px"
        >
            {% for source in news_sources %}
            <option>{{source}}</option>
            {% endfor %}
        </select>
        <label for="exampleSelect1" class="form-label mt-4">News Topic</label>
        <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter News topic"
            name="news_topic"
            style="width: 500px"
        />
        <hr />
        <a href="{{request.META.HTTP_REFERER}}">
            <button type="button" class="btn btn-outline-secondary">
                Cancel
            </button>
        </a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
